.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.vertical-center {
    margin-top: 33%;
}

.align-center {
    text-align: center;
}
[type='radio'] {
display: none; 
}